  <!-- <div class="row">
    <div class="col-6">
        <div class="card-header">Products Details</div>
        <div class="card-body"></div>
        <form [formGroup]="productsForm" (ngSubmit)="onSubmit()">
            <div class="display-block">
                <label>
                    Product Name:
                    <input type="text" formControlName="productName">
                </label>
                <div *ngIf="productsForm.controls['productName'].touched &&
                productsForm.controls['productName'].invalid"
                       class="alert-danger">
                    <div *ngIf="productsForm.controls['productName'].errors &&
                    productsForm.controls['productName'].errors.required">
                        Product name is required.</div>
                </div>
            </div>
            <div class="display-block margin-top-10">
                <label>
                    Product Cost:
                    <input type="text" formControlName="productCost">
                </label>
                <div *ngIf="productsForm.controls['productCost'].touched &&
                productsForm.controls['productCost'].invalid" 
                    class="alert-danger">
                    <div *ngIf="productsForm.controls['productCost'].errors &&
                    productsForm.controls['productCost'].errors.required">
                        Last name is required.</div>
                </div>
            </div>
        
        
            <button type="submit"
                [disabled]="!productsForm.valid">Submit</button>
        </form>
    </div>
  </div> -->


  <div class="container">
    <form [formGroup]="productsForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-25">
        <label>Product Name:</label>
      </div>
      <div class="col-75">
        <input type="text" placeholder="Product Name" formControlName="static_data_type">
        <div *ngIf="productsForm.controls['static_data_type'].touched &&
                productsForm.controls['static_data_type'].invalid"
                       class="alert-danger">
                    <div *ngIf="productsForm.controls['static_data_type'].errors &&
                    productsForm.controls['static_data_type'].errors.required">
                        Product name is required.</div>
                </div>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="lname"> Product Cost:</label>
      </div>
      <div class="col-75">
        <input type="text" (keypress)="numberOnly($event)" placeholder="Product Cost" formControlName="description">
        <div *ngIf="productsForm.controls['description'].touched &&
        productsForm.controls['description'].invalid" 
            class="alert-danger">
            <div *ngIf="productsForm.controls['description'].errors">
                Product Cost is required.</div>
            <!-- <div *ngIf="productsForm.controls['productCost'].errors.minlength">
                    required.</div> -->
        </div>
      </div>
    </div>
    <br>
    <div class="row">
        <button class="button" >Submit</button>
    </div>
    </form>
  </div>
 
 
    