

 
  
 <nav class="navbar navbar-expand-lg navbar-primary bg-primary">
    <div class="container-fluid">

        <div class="container-fluid">
          <div class="navbar-nav">
            <a class="nav-link active" href="product">Products List</a>
            <a class="nav-link active" href="demo">Demo List</a>
            <span class="topnav-right">
                <i style="font-size: 26px; float: right;"class='fa fa-shopping-cart' routerLink="/cart"></i>
            </span>
            
            
            </div>
          </div>
      </div>
  </nav>

 

  


  
 

  



