<button (onClick)="cartListDetails()">cart</button>

<div class="container">
    <h2>{{cartList}}</h2>
</div>
<div class="container-fluid">
   <div style="padding: 10px;text-align: center;" >
    <h3>My Cart</h3>
    <div class="card text-center">
        <div class="card-header">
          <strong><h5>Cart details</h5></strong>
        </div>
        <div class="card-body">
            <img src="../assets/images/cart.png" alt="" width="500" height="333">
          <h5 class="card-title">Your Cart is empty</h5>
          <p class="card-text">Add items to it now.</p>
          <a href="product" class="btn btn-primary">SHOP NOW</a>
        </div>
      </div>
   </div>
</div>


