
  
  .card {
    padding: 12px;
    height: 329px;
  }

  .card img{
    height: 120px;
    transition: 0.3s ease-in-out;
  }

  .card img:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
  }
  