
<!-- <div class="container">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Cost</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let prod of products">
            <td>{{prod.productId}}</td>
            <td>{{prod.productName}}</td>
            <td>{{prod.productsDescription}}</td>
            <td>{{prod.productCost}}</td>
            <button type="button" class="btn btn-secondary" (click)="addToCart(prod)">Add to cart</button>
          </tr>
        </tbody>
      </table>
      <app-cart [cartList]="groupList"></app-cart>
</div>    -->

<div class="container">
    <div class="row">
        <ng-container *ngFor="let prod of products">
            <div class="card col-md-3" >
                <h4>{{prod.static_data_type}}</h4>
                <p><strong>Price:</strong>{{prod.description}}</p>
                <button type="button" class="btn btn-primary" (click)="addToCart(prod)">Add to cart</button><br>
                <button type="button" class="btn btn-secondary" (click)="editToCart(prod)">Edit Cart</button><br>
               
            </div>
    </ng-container>
    </div>
</div>

<app-cart (getResponse)="getResponse($event)" [cartList]="groupList"></app-cart>

      
  



 






